body {
    font-family: Arial, sans-serif;
    background: linear-gradient(150deg, #ffffff, #ffffff, #ffffff, #ffffff);
    margin: 0;
    height: vh;
    padding: 0;

}

.logo img{
    width: 90px;
}

header {
    background: linear-gradient(150deg, hsl(0, 100%, 88%), #bd0202, #cc0108, #ff8383);
    color: #fff;
    text-align: center;
    padding: 20px;

}

.bienvenido {
    margin-left: 700px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-top: 30px;
}


.logo img {
    width: 170px;
    height: 150px;
    vertical-align: middle;
    float: left;


}

nav {
    background-color: #111111;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

/* Boton de Inicio */
#goHomeButton {
    position: absolute;
    text-decoration: none;
    top: 180px;
    /* Distancia desde la parte superior de la página */
    left: 20px;
    /* Distancia desde la izquierda de la página */
    flex-basis: 40%;
    min-width: 150px;
    font-size: 15px;
    background-color: rgb(238, 12, 12);
    color: white;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
}

/* Para ocultar el campo en el are de Login*/
.hidden {
    display: none;
}

/* Para cambiar el color de pagina e algunas cosas */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* El contenedor de Sing Up */
.form-content {
    width: 100%;
    max-width: 450px;
    background-color: #f6f6f6;
    padding: 40px 60px 70px;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 200px;
}

/* Cambiar caracteristicas de H1 */
.form-content h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: rgb(255, 0, 0);
    position: relative;
}


/* Añadido para centrar verticalmente */
.input-field {
    background-color: rgba(247, 153, 153, 0.225);
    margin: 25px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height s;
    overflow: hidden;
}

/* Cambiar caracteristias del Input*/
input {
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
}

/*El placeholder el input es decir la parte de adentro como los comentarios*/
input::placeholder {
    color: rgb(119, 116, 116);

}

/*Cambiar caracteristicas de los iconos*/
.input-field i {
    margin-left: 15px;
    color: rgb(0, 0, 0);


}


.center-button {
    display: block;
    margin: 0 auto;
}


form p {
    color: rgb(211, 80, 80);
    text-align: left;
    font-size: 13px;
}

form p a {
    color: rgb(238, 34, 12);
    margin-left: 5px;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.btn-field button {
    flex-basis: 100%;
    min-width: 150px;
    font-size: 15px;
    background-color: rgb(238, 12, 12);
    color: white;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.input-group {
    height: 300;
}


.center-button {
    display: block;
    margin: 0 auto;
}



footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    
}

.copy {

    color: #c7c6c6;

}