
  
  .container{
    margin-top: 100px;
    /* Ajusta esta distancia según tus necesidades */
  }
  
  .register-form-group {
    margin-bottom: 15px;
  }
  
  .register-label {
    display: block;
    font-weight: bold;
  }
  
  .register-input {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #ececec;
    border-radius: 5px;
  
  }
  
  .register-input[type="submit"] {
    background-color: #ffffff;
    /* Cambia #ff0000 al color que desees */
    color: #fff;
    /* Cambia #fff al color del texto deseado */
    padding: 10px 20px;
    font-size: 18px;
    /* Ajusta el padding según tus preferencias */
    border: none;
    cursor: pointer;
  }
  
  .register-input[type="submit"]:hover {
    background-color: #ff6666;
    /* Cambia al color deseado cuando el cursor esté sobre el botón */
  }
  
  
  .register-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error {
    color: #FF0000;
  }
  
  footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }
  
  .copy {
  
    color: #ff0000;
  
  }

  input{
    width: 100%;
    background-color: #fffffff7;
    border: 0;
    outline: none;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
  }

  p{
    margin-top: 20px;
  }

  .register-link {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    color: #007BFF; /* Color del enlace */
    cursor: pointer;
    font-weight: bold; /* Opcional: Puedes ajustar el peso de la fuente */
  }
  
  
  .register-link:hover {
    text-decoration: underline; /* Subrayar el enlace al pasar el cursor sobre él */
  }
  